
/* li{
    float: left;
    list-style:none;
    padding: 10px; 
    }*/
    
    /* nav{
        float: center;
        margin-top: 0;
        background-image: url("../img/multi-sport.jpeg");
        background-repeat: none;
        background-size: cover;
        background-position: center;
        height: 100%;
    } */
    
    /* a{
        text-decoration: none;
    } */

.text-reset{
    color:black;
}